@using HRMS.Web.Models;
@model List<UserInfo>
@{
    ViewData["Title"] = "Search for Users";
    ViewBag.ActiveMenuItem = "Users";
}

<div ng-app="hrmsUserSearch" ng-controller="UserSearchController" ng-init="searchTerms = '@ViewBag.SearchTerms'">
    <h2 class="m-t-lg m-b-lg text-uppercase">@ViewData["Title"]</h2>
    <form>
        <div class="input-group m-b-md">
            <input type="text" name="search" class="form-control" placeholder="search by ID, name or department..." ng-model="searchTerms" focus-if />
            <span class="input-group-btn">
                <button class="btn btn-default btn-primary" type="submit"><span class="icon icon-magnifying-glass"></span></button>
            </span>
        </div>
    </form>
    <table class="table table-condensed table-striped table-hover" ng-show="searchTerms && (users | filter:searchTerms).length > 0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users | filter:searchTerms">
                <td><a href="@Url.Action("UserInfo")/{{user.Id}}?searchTerms={{searchTerms}}">ASWVN{{user.Id}}</a></td>
                <td><a href="@Url.Action("UserInfo")/{{user.Id}}?searchTerms={{searchTerms}}">{{user.Name}}</a></td>
                <td>{{user.Department.Name}}</td>
            </tr>
        </tbody>
    </table>
</div>

@section scripts {
    <script src="~/js/users/search/app.js" asp-append-version="true"></script>
    <script src="~/js/users/search/controllers.js" asp-append-version="true"></script>
    <script src="~/js/users/search/services.js" asp-append-version="true"></script>
}
