@model UserInfo
@{
    ViewData["Title"] = Model.Name;
    ViewBag.ActiveMenuItem = "Users";
}

<div ng-app="hrmsUserInfo" ng-controller="UserInfoController" ng-init="empId = @Model.EmployeeId">
    <div class="toolbox">
        <a asp-action="Index" asp-route-id="@ViewBag.SearchTerms" title="Back"><span class="icon icon-chevron-thin-left"></span></a>
    </div>
    <div class="m-t-lg m-b-lg clearfix">
        <div class="pull-left">
            <h2 class="m-a-0 text-uppercase">@ViewData["Title"] <small class="text-muted">ASWVN@(Model.EmployeeId) - @Model.Department.Office</small></h2>
            <div class="h2 m-a-0 text-muted">
                <small>{{date | date: "MMMM, yyyy"}}</small>
            </div>
        </div>
        <div class="visible-xs m-b clearfix"></div>
        <div class="form-inline pull-right-sm">
            <select class="custom-select custom-select-sm" ng-model="month" ng-change="refreshRecords()">
                <option value="">[month]</option>
                    <option ng-repeat="index in [] | monthInYear: year">{{index + 1}}</option>
                </select>
            <select class="custom-select custom-select-sm" ng-model="year" ng-change="refreshRecords()">
                <option value="">[year]</option>
                    <option ng-repeat="index in [] | range: endYear - startYear + 1">{{index + startYear}}</option>
                </select>
            </div>
        </div>
    <div class="text-center m-b">
        <i class="fa fa-spinner fa-pulse fa-4x" ng-hide="records.length > 0"></i>
    </div>
    <table class="table table-condensed table-hover" ng-show="records.length > 0">
        <thead>
            <tr>
                <th class="text-center">Date</th>
                <th class="text-center">Check-in</th>
                <th class="text-center">Check-out</th>
                <th class="text-center">Lacking Time (h:mm)</th>
                <th class="text-center">Approval</th>
                <th></th>
            </tr>   
        </thead>
        <tbody>
            <tr ng-repeat="record in records" ng-class="{ 'text-warning warning': record.MinuteLate > 0 }">
                <td class="text-center" ng-class="{ 'text-danger' : record.WorkingType == 4 }">{{record.WorkingDay | date: "dd/MM/yyyy"}}</td>
                <td class="text-center" ng-class="{ 'text-danger' : record.WorkingType == 4 }">{{record.CheckIn | date: "shortTime"}}</td>
                <td class="text-center" ng-class="{ 'text-danger' : record.WorkingType == 4 }">{{record.CheckOut | date: "shortTime"}}</td>
                <td class="text-center" ng-class="{ 'text-danger' : record.MinuteLate == 4 }"><span ng-show="record.MinuteLate > 0">{{record.MinuteLate | timespan}}</span></td>
                <td class="w-sm">
                    <div ng-show="record.MinuteLate > 0 || record.WorkingType == 4">
                        <div ng-hide="record.editMode">
                            <div>{{record.GetApprovedReason}}</div>
                            <div ng-show="record.GetApprovedReason">
                                <span ng-show="record.Approved == null" class="text-warning">Waiting for approval from {{record.Approver.Name}}</span>
                                <span ng-show="record.Approved === true" class="text-success">Approved by {{record.Approver.Name}}</span>
                                <span ng-show="record.Approved === false" class="text-danger">Disapproved by {{record.Approver.Name}}</span>
                                <span ng-show="record.ApproverComment"> with comments: '{{record.ApproverComment}}'</span>
                            </div>
                        </div>
                        <div ng-show="record.editMode">
                            <div class="form-group form-group-sm">
                                <textarea class="form-control" ng-model="record.GetApprovedReason" placeholder="Add comments..."></textarea>
                            </div>
                            <div class="form-group form-group-sm m-b-0" ng-show="record.approved == null">
                                <select class="form-control" ng-model="record.Approver" ng-options="m as m.Name for m in managers" required>
                                    <option disabled value="">[Select approver]</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="tight">
                    <div ng-show="record.MinuteLate > 0 || record.WorkingType == 4">
                        <button ng-hide="record.editMode" ng-click="record.editMode = true" class="btn btn-sm btn-primary-outline"><span class="icon icon-typing"></span></button>
                        <button ng-show="record.editMode" ng-click="GetApproval(record)" class="btn btn-sm btn-success-outline"><span class="icon icon-check"></span></button>
                        <br />
                        <button ng-show="record.editMode" ng-click="record.editMode = false" class="btn btn-sm btn-danger-outline m-t"><span class="icon icon-cross"></span></button>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="3" class="text-right">Total Lacking Time</th>
                <th class="text-center">{{ records | sum : 'MinuteLate' | timespan }}</th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
    <div class="alert alert-info" ng-hide="date != null">
        <p>
            Please select a month to see the report.
        </p>
    </div>
</div>

@section scripts {
    <script src="~/js/users/user-info/app.js" asp-append-version="true"></script>
    <script src="~/js/users/user-info/controllers.js" asp-append-version="true"></script>
    <script src="~/js/users/user-info/services.js" asp-append-version="true"></script>
}
